@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply m-0 flex min-h-screen min-w-[320px] place-items-center justify-center bg-white text-[#213547] dark:bg-[#242424] dark:text-white/87;
}

h1 {
  @apply text-[3.2em] leading-[1.1] mb-8 font-bold;
}

a {
  @apply font-medium text-[#646cff] hover:text-[#747bff] dark:hover:text-[#535bf2];
}

button {
  @apply cursor-pointer rounded-lg border border-transparent bg-[#f9f9f9] px-[1.2em] py-[0.6em] text-[1em] font-medium transition-colors duration-[0.25s] hover:border-[#646cff] focus:outline-4 focus:outline-[-webkit-focus-ring-color] focus-visible:outline-4 focus-visible:outline-[-webkit-focus-ring-color] dark:bg-[#1a1a1a];
}
